header,aside,footer{display: block;}
*{padding: 0;margin:0;}
body{max-width:80em;color:#050505;background-color: #E0FFFF;}
#content{width:80%;margin:1em auto;}
a{text-decoration:none;}
a:link,a:visited{color: #050505;}
a:focus,a:hover,a:active{color:#0000FF; }
li{list-style-type: none;}
header{width:100%;height: 4em;background-color: #E0FFFF;border-bottom:#050505 .1em double;
	}
#header{width: 80%;margin:auto;padding:.5em 0;}
h1{float:left;}
header li{float: right;padding:1em 1.3em;margin: .2em .1em; font-size: 1.3em;}
#name{font-size: 1.5em;}
#job{font-size: .7em;font-weight: normal;padding-left: 1.2em;}
#number{background: url(../images/number.jpg) no-repeat left center;}
#mail{background: url(../images/mail.jpg) no-repeat left center;}
#github{background: url(../images/github.jpg) no-repeat left center;}
aside{float: right;position: fixed;top: 30%;right: 0;}
aside li a{display: block;border: solid black .1em;padding:.4em;margin:.5em;
	-moz-border-radius:.8em;-webkit-border-radius:.8em;border-radius: .8em;
    -moz-box-shadow:.1em .1em .2em #666;-webkit-box-shadow:.1em .1em .1em #666;box-shadow: .1em .1em .1em #666;}
.clear{clear: both;}
h2{padding:.2em 0 .2em 1.5em;color: #0000FF;
	background:url(../images/skills.jpg) no-repeat left center;}
#education ul{background:url(../images/gdut.jpg) no-repeat left center;}
#education li{display: block;float: left;margin:0 2em;padding:.2em 0; }
#skill li{padding: .2em 2em;background:url(../images/leaf.jpg) no-repeat left center;}
dt{color: #FF3030;font-size: 1.3em; font-weight: bold;padding: .2em 1em;
	background:#FFFFFF url(../images/description.jpg) no-repeat left center;}
dd{padding: .2em 2em;}
.h{font-weight: bold;}
.block a{margin-left: 4em;font-size:.8em;padding:.2em;border: double black .1em;
	-moz-border-radius:.8em;-webkit-border-radius:.8em;border-radius: .8em;
    -moz-box-shadow:.1em .1em .2em #666;-webkit-box-shadow:.1em .1em .1em #666;box-shadow: .1em .1em .1em #666;}
.duty1{position: relative;left: 4em;top: 0;}
.duty2{position: relative;left: 6em;top: 0;}
#award li{padding:.2em 2em;background:url(../images/glass.jpg) no-repeat left center;}
#evaluation li{padding:.2em 2em;background:url(../images/heart.jpg) no-repeat left center;}
footer p{text-align: center;padding:1.5em 0;}
